# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# project setting
*.sln
*.vcxproj
*.filters
*.user
x64/
.vs/

#main
#main.cpp

*.DS_Store
__pycache__/
*.pcy

.vs/
*.sln
*.vcxproj
*.filters
*.user
